libs/
node_modules/
.DS_Store
.idea
.project

.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemdecl.js
!*bundles*/*/*.min.js
!*bundles*/*/*.yml
bundles/index/index.parameters.yml
bundles/index/frozen
bundles/index/freezing
!bundles/index/freezing/.gitkeep
client.specs
